
body {
  background-color: #121212;
  color: white;
}

.App {
  text-align: center;
}

.project-card {
  border: 1px solid #444;
  transition: transform .2s;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.project-card .card-body {
  flex-grow: 1;
}

.project-card:hover {
  transform: scale(1.05);
}

.slick-dots li button:before {
  color: white !important;
}

.slick-prev:before, .slick-next:before {
  color: white !important;
}

.card-title {
  font-weight: bold;
}

.card-text {
  font-size: 0.9rem;
}

header h1 {
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
}
